body{
	background-color: #343434;
}

.affiche{
    width: 100px;
    height: 140px;
    padding: 5px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.affiche:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

footer{
	text-align: center;
}

.aleatoire{
	color: white;
	cursor: help;
}

.aleatoire{
    -webkit-animation: color-change 1s infinite;
    -moz-animation: color-change 1s infinite;
    -o-animation: color-change 1s infinite;
    -ms-animation: color-change 1s infinite;
    animation: color-change 1s infinite;
}

@-webkit-keyframes color-change {
    0% { color: white; }
    50% { color: purple; }
    100% { color: white; }
}
@-moz-keyframes color-change {
    0% { color: white; }
    50% { color: purple; }
    100% { color: white; }
}
@-ms-keyframes color-change {
    0% { color: white; }
    50% { color: purple; }
    100% { color: white; }
}
@-o-keyframes color-change {
    0% { color: white; }
    50% { color: purple; }
    100% { color: white; }
}
@keyframes color-change {
    0% { color: white; }
    50% { color: purple; }
    100% { color: white; }
}

.introuvable{
	text-align: center;
	color: white;
	text-decoration: none;
}

.reglement{
	text-align: center;
	color: #525252;
	text-decoration: underline;
}
