body{
	background-color: #343434;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

.iframe{
	text-align: center;
}

.reglement{
	text-align: center;
	color: white;
	text-decoration: underline;
}