body{
	background-color: #343434;
}

h1{
	text-align: center;
}

h2{
	padding-left: 2%;
}

h3{
	text-align: center;
}

h2{
	color: #cccccc;
}

p{
	text-align: center;
}

img{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

img:hover{
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

.reglement{
	text-align: center;
	color: white;
	text-decoration: underline;
}