body{
    background-color: #343434;
    color: #FFFFFF;
}

.light-theme {
	background-color: white;
	color: black;
}

.oled-theme {
    background-color: black;
    color: white;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

a.autre{
	text-decoration: underline;
}

.iframe{
	color: #E63F2A;
	text-align: center;
}

.reglement{
	text-align: center;
	text-decoration: underline;
}