body{
    background-color: #343434;
    color: #FFFFFF;
}

.light-theme {
	background-color: white;
	color: black;
}

.oled-theme {
    background-color: black;
    color: white;
}

h1{
	text-align: center;
}

h3{
	text-align: center;
}

h2{
	padding-left: 2%;
}

figure {
    display: inline-flex;
    flex-flow: column;
    max-width: 220px;
    margin: auto;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

figure:hover {
	-webkit-transform:scale(1.1);
	-moz-transform:scale(1.1);
	-ms-transform:scale(1.1);
	-o-transform:scale(1.1);
	transform:scale(1.1);
}

a{
	text-decoration: none;
}

p{
	text-align: center;
}

.affiche{
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    background-color: #141414;
    color: white;
    padding: 3px;
    text-align: center;
}

.reglement{
	text-align: center;
	text-decoration: underline;
}