body{
	background-color: white;
    color: black;
}

.dark-theme {
    background-color: #343434;
    color: #FFFFFF;
}

.oled-theme {
    background-color: black;
    color: white;
}

#searchbar{
	width: 88%;
	margin-left: 5%;
	margin-right: 5%;
	padding:15px;
	border-radius: 10px;
}

input[type=text]:focus {
	width: 70%;
}

h1{
	margin-left: 6.25%;
}

a{
	text-decoration: none;
	color: #E63F2A;
}

#ListFilm{
	font-size: 150%;
	margin-left: 2.5%;
}

.titre{
	display: list-item;    
	list-style-type: none;
	padding-bottom: 2px;
}

#ListSerie{
	font-size: 150%;
	margin-left: 2.5%;
}

.introuvable{
	text-align: center;
	color: #E63F2A;
	text-decoration: none;
}

.reglement{
	text-align: center;
	color: #525252;
	text-decoration: underline;
}